
<div class="nav"><h1>Songs</h1>
    <div id="navigation"><a href="/" class="home-button">Home</a><form>
      <input class="home-button" type="button" value="Go back to albums" onclick="history.back()">
    </form></div></div>
  
  <div class="info-bar">
    <h2>Title</h2>
    <h2>Listen</h2>
  </div>
  
  
  
  <% tracks.forEach(track => { %>
  <figure class="song-preview">
    <% if (track.preview_url) { %>
    <figcaption><%= track.name %></figcaption>
    <audio controls src="<%= track.preview_url %>"></audio>
  </figure>
    <% } else { %>
    <p>No preview available</p>
  </figure>
  <% } %> <% }) %>

  <form action="/reviews/album/<%= albumId %>" method="POST">
    <textarea name="content" placeholder="Your review"></textarea>
    <input type="number" name="rating" placeholder="Rating (1-5)">
    <input type="submit" value="Submit Review">
  </form>

  <% reviews.forEach(review => { %> 
    <div class="review">
      <p><%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
    </div>
  <% }) %>